.header{
    display: flex;
    justify-content: space-between;
    border: 0.5px solid #F36C21;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
}

.logo{
    width: 6rem;
    height: 6rem;
    margin-left: 1rem;
}

.nav-items >ul{
    display: flex;
    justify-content:flex-end;

}

.nav-items >ul li{
    font-style: italic;
    font-size: large;
    text-decoration: none;
    font-weight: 400;
    padding: 1.5rem;
    list-style-type: none;
}

.nav-items >ul li:hover{
    font-size: larger;
}

.res-card{
    margin: 0;
    width: 10rem;
    height: fit-content;
    width: fit-content;
    margin: 1rem;
    padding: 1rem;
    border: 0.5px solid black

;
}

.res-card:hover{
    cursor: pointer;

}

.card-img{
    height: 15rem;
    width: 15rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    object-fit: fit;
    border-radius: 16px
}

.res-card h3{
    text-align: center;
    font-size: larger;
    margin: 1rem;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
    margin-top: 2rem;  
    
}

.body{
    margin: 1rem;
    padding: 1rem;
    background-color: #FFFBEB;
}